<% if @selfie.errors.any? %>
	<%= @selfie.errors.full_messages %>
<% end %>

<h2>New Selfie</h2>
<%= form_for @selfie do |f| %>
	<%=	f.text_field :body %>
	<%= f.submit %>
<% end %>

<a href="/">Home</a>